@import 'vars';

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font;
    font-size: 14px; // 1rem
}

.center {
    padding-left: calc(50% - 648px);
    padding-right: calc(50% - 648px);
}

.header {
    background-image: url('img/header_bg.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding-bottom: 30px;
        border-bottom: 1px solid $lightTextColor;
    }

    &__contacts {
        display: flex;
        gap: 20px;
    }

    &__items {
        margin-top: 202px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 12px;
    }

    &__item {
        width: 315px;
        height: 151px;
        background-color: $accentColor;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 65px;
    }
}

.item {
    &__left {
        grid-column: 1 / 4;
        padding-left: 35px;
        padding-top: 35px;

    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: $lightTextColor;
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: $lightTextColor;
        margin-top: 17px;
    }
}

.logo {
    margin-right: 124px;
}

.nav {
    margin-right: 185px;
}

.menu {
    display: flex;
    gap: 40px;
    flex-flow: row wrap;

    &__link {
        list-style: none;
        color: $lightTextColor;
        font-weight: 500;
        font-size: 1rem;
        line-height: 140%;
        text-decoration: none;
    }
}

.title {
    margin-top: 200px;
    font-weight: 700;
    font-size: 3.42rem;
    line-height: 140%;
    color: $lightTextColor;
}

.video {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px;

    &__button {
        width: 80px;
        height: 80px;
        border: 1px solid $lightTextColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__play {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $accentColor;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: $lightTextColor;
    }
}

.courts {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    padding-bottom: 150px;

    &__element {
        border: 1px solid$borderLightColor;
        grid-column: span 4;
        height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 65px;
        box-sizing: border-box;
    }

    &__text {
        text-align: center;
        font-size: 27px;
        line-height: 140%;
        color: $lightTextColor;
    }

    &__element1 {
        background-image: url('img/court_1.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__element2 {
        background-image: url('img/court_2.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__element3 {
        background-image: url('img/court_3.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: $textDarkColor;
}

.middle {
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(12, 1fr);

    &__content {
        background-color: $borderLightColor;
        padding-top: 70px;
        padding-bottom: 84px;
        padding-right: 60px;
        padding-left: 146px;
        position: relative;
        grid-column: 6 / 12;
    }

    &__text {
        margin-top: 25px;
        width: 430px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 140%;
        color: $textDarkColor;
    }

    &__subheading {
        margin-top: 25px;
        font-weight: 600;
        font-size: 21px;
        line-height: 140%;
        color: $textDarkColor;
    }

    &__box {}

    &__list {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        gap: 23px;
        width: 430px;
    }

    &__element {
        padding-left: 1.5em;
        text-indent: -1.5em;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: $textDarkColor;

        &::before {
            content: url(img/list_style.svg);
            padding-right: 1.2em;
        }
    }

    &__image {
        position: absolute;
        left: -440px;
        top: 70px;
    }
}