@import 'vars';

@keyframes bottonAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $colorBg;
    font-family: $font;
    position: relative;
}

.center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}

.head {
    color: $baseTextColor;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $baseTextColor;
    margin-bottom: 45px;
}

.nav {
    padding-top: 53px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

    &__link {
        text-decoration: none;
    }

    &__list {
        list-style-type: none;
        display: flex;
        gap: 20px;
    }

    &__element {
        color: $baseTextColor;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        transition: all .3s;

        &:hover {
            scale: 1.1;
        }

        &-shadow {
            color: $secondTextColor;
        }
    }
}

.header {
    text-align: center;

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        color: $baseTextColor;
        margin-bottom: 32px;
    }
}

.rocket {
    padding-top: 492px;

    &__container {
        display: flex;
        gap: 130px;
    }

    &__img {
        position: absolute;
        top: 1347px;
        left: 691px;
    }
}

.characteristic {
    &__list {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        gap: 11px;
    }

    &__item {
        color: $baseTextColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 179.69%;
    }
}

.meaning {
    &__list {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        gap: 11px;
    }

    &__item {
        color: $baseTextColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 179.69%;

        &-shadow {
            color: $secondTextColor;
        }
    }
}

.performance {
    margin-top: 218px;

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: $baseTextColor;
        width: 490px;
        margin-bottom: 507px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding-bottom: 131px;

    &__elements {
        margin-top: 43px;
        margin-bottom: 28px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $secondTextColor;
        margin-bottom: 30px;
    }

    &__button {
        background-color: transparent;
        border: 2px solid $baseTextColor;
        border-radius: 6px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $baseTextColor;
        width: 260px;
        height: 60px;

        &:hover {
            animation: bottonAnim 2s ease 0s 1 normal forwards;
        }
    }
}