.autorization {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    margin: auto;
    align-items: center;
}

.success__message-hidden,
.error__message-hidden {
    display: none;
}

.success__message {
    color: green;
}

.error__message {
    color: red;
}