@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/bold/fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("./fonts/bold/fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/bold/fonts/gilroy-bold.woff2") format("woff2"), url("./fonts/bold/fonts/gilroy-bold.woff") format("woff"), url("./fonts/bold/fonts/gilroy-bold.ttf") format("truetype"), url("./fonts/bold/fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/medium/fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("./fonts/medium/fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/medium/fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/medium/fonts/gilroy-medium.woff") format("woff"), url("./fonts/medium/fonts/gilroy-medium.ttf") format("truetype"), url("./fonts/medium/fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Bold";
}

.center {
  padding-left: calc(50% - 470px);
  padding-right: calc(50% - 470px);
}

.top {
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 104px;
}
.top_content {
  padding-top: 40px;
}
.top_content-info {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-end;
}
.top_content-img {
  margin-top: 50px;
}
.top_title {
  font-size: 48px;
  line-height: 59px;
  color: #070707;
}
.top_text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.top_lang {
  transform-origin: 100% 100%;
  transform: rotate(-90deg) translateX(100%);
}
.top_lang-item {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
}
.top_lang-item:not(:last-child)::after {
  content: " | ";
  color: #828282;
}
.top_lang-item:hover {
  color: #070707;
}

.nav {
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-bottom: 32px;
}
.nav_box {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.nav_item {
  font-size: 18px;
  line-height: 22px;
}
.nav_link {
  text-decoration: none;
  color: #828282;
}
.nav_link:hover {
  color: #070707;
}

.heading {
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.about {
  background-color: #F6F6F6;
  padding-top: 120px;
  padding-bottom: 107px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  gap: 24px;
}
.about_content {
  display: flex;
  flex-flow: column wrap;
  width: 485px;
  gap: 36px;
}
.about_item {
  font-family: "Gilroy-Medium";
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.skills {
  padding-top: 91px;
  padding-bottom: 110px;
  text-align: center;
}
.skills_text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-top: 69px;
  margin-bottom: 83px;
}
.skills_content {
  display: flex;
  justify-content: space-between;
}
.skills_item {
  width: 166px;
  height: 206px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.skills_item-text {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-top: 24px;
  padding-bottom: 40px;
}

.portfolio {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 113px;
  padding-bottom: 96px;
  gap: 47px;
}
.portfolio_content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 99px;
}
.portfolio_item {
  display: flex;
  flex-flow: column wrap;
  gap: 44px;
  align-items: center;
}
.portfolio_text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.portfolio_link:hover {
  text-decoration: none;
}

.footer {
  padding-top: 114px;
  padding-bottom: 123px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
.footer_text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy-Medium";
}
.footer_text-small {
  margin-top: 45px;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer_button {
  margin-top: 29px;
  width: 180px;
  height: 42px;
  border: 1px solid #070707;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  background-color: #F6F6F6;
}
.footer_button:hover {
  background-color: #070707;
  color: #F6F6F6;
}
.footer_items {
  margin-top: 85px;
  display: flex;
  gap: 61px;
}
.footer_item {
  width: 41px;
  height: 41px;
}
.footer .linkedin {
  background-image: url("img/footer_1.svg");
  background-size: cover;
}
.footer .inst {
  background-image: url("img/footer_2.svg");
  background-size: cover;
}
.footer .behance {
  background-image: url("img/footer_3.svg");
  background-size: cover;
}
.footer .dribble {
  background-image: url("img/footer_4.svg");
  background-size: cover;
}/*# sourceMappingURL=style.css.map */