* {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 56px;
}

.app {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
}

.content, .players {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
}

.input {
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    font-size: 18px;
}

.login-button, 
.start-button, 
.lobby-button, 
.move_button {
    border-radius: 20px;
    width: 150px;
    height: 30px;
    transition: all .5s;
}

.login-button:hover, 
.start-button:hover, 
.lobby-button:hover, 
.move_button:hover {
    scale: 110%;
}

.player {
    border: 2px solid black;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 20px;
}

img {
    width: 300px;
    height: 300px;
}