@import 'vars';
// Кэф 1.25

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jockey One', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    background: #818181;
    position: relative;
    z-index: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-left: 36px;
    padding-right: 32px;
    padding-top: 35px;

    &__logo {
        text-transform: uppercase;
        color: $brightColor;
        font-size: 28px;
        line-height: 39px;
    }
}

.nav {
    &__list {
        display: flex;
        flex-flow: row wrap;
        gap: 29px;
    }

    &__element {
        list-style-type: none;
    }

    &__link {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 39px;
        color: $baseColor;

        &:hover {
            color: $brightColor;
        }
    }
}

.middle {
    padding-left: 98px;
    padding-right: 258px;
    position: relative;
    padding-bottom: 162px;

    &__text {
        text-transform: uppercase;
        font-size: 184px;
        line-height: 258px;
        letter-spacing: 0.25em;
        color: $baseColor;

        &-colored {
            margin-top: 36px;
            color: $brightColor;
        }

        &-uncolored {
            position: absolute;
            top: 162px;
        }
    }
}

.info {
    margin-left: 161px;

    &__text {
        width: 517px;
        font-size: 20px;
        line-height: 28px;
        color: $baseColor;
    }

    &__heading {
        font-size: 24px;
        line-height: 34px;
        color: $additionalColor;
        margin-top: 32px;
        margin-bottom: 13px;
    }
}

.info {
    &__members {
        position: relative;
    }

    &__friend {
        position: absolute;
    }

    &__invite {
        padding-left: 12px;
        display: flex;
        flex-flow: row wrap;
        gap: 24px;
    }

    &__img {
        width: 48px;
        height: 48px;

        &-1 {
            left: 24px;
        }

        &-big {
            width: 54px;
            height: 54px;
        }
    }

    &__button {
        width: 210px;
        height: 44px;
        background: $baseColor;
        border: none;
        border-radius: 40px;
        font-size: 22px;
        line-height: 31px;
        color: $additionalColor;
        text-align: center;
        transition: color .3s;

        &:hover {
            color: $brightColor;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 54px;
    padding-top: 4px;

    &__img {
        width: 64px;
        height: 64px;
    }
}

hr {
    width: 957px;
    margin-left: 212px;
    margin-right: 212px;
    margin-top: 52px;
    height: 3px;
    background-color: $baseColor;
    border: none;
}

.athlete {
    width: 590px;
    height: 642px;
    background: url("img/athlete.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    top: 66px;
    right: 70px;
}