@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        font-size: 32px;
        line-height: 39px;
    }

    .header {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding-top: 238px;
        padding-bottom: 238px;
        background-position: 32%;

        &__text {
            font-size: 14px;
            line-height: 22px;
            width: 343px;
        }
    }

    .games {
        justify-content: center;

        &__element {
            max-width: 343px;
        }
    }

    .match {
        &__info {
            padding-top: 51px;
            padding-bottom: 85px;
            gap: 64px;
        }

        &__content {
            align-items: center;
        }

        &__img {
            width: 344px;
            height: 236px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
    }

    .heading {
        font-size: 32px;
        line-height: 39px;
    }

    .words {
        &__text {
            width: 343px;
        }

        &__content {
            order: 1;
        }

        &__img {
            order: 2;
        }
    }
}