@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: $textColor;
}

.center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 64px 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url('img/header_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 217px;
    padding-bottom: 493px;

    &__text {
        grid-column: span 5;
        grid-row-start: 2;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.77rem;
        width: 481px;

        &-bold {
            font-weight: 700;
        }
    }

    &__form {
        grid-row-start: 3;
        margin-top: 44px;

        &:hover {
            cursor: url('img/cursor.svg'), pointer;
        }
    }
}

.title {
    grid-column: span 7;
    font-weight: 700;
    font-size: 3.55rem;
    line-height: 4.33rem;
    margin-bottom: 32px;
}

.heading {
    font-weight: 700;
    font-size: 2.66rem;
    line-height: 3.27rem;
    color: $textColor;
}

.button {
    width: 234px;
    height: 48px;
    background: $buttonColor;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.22rem;
    color: $textColor;

    &:hover {
        cursor: url('img/cursor.svg'), pointer;
    }
}

.games {
    background: $sectionBgColor;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__link {
        display: block;
        text-decoration: none;

        &:hover {
            cursor: url('img/cursor.svg'), pointer;
        }
    }

    &__element {
        width: 379px;
        height: 300px;
        border-radius: 16px;
        position: relative;
        box-sizing: border-box;

        &:hover {
            border: 3px solid #44D2FF;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        &-1 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
                url('img/games1.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &-2 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
                url('img/games2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &-3 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
                url('img/games3.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 1.33rem;
        line-height: 1.77rem;
        color: $textColor;
        position: absolute;
        bottom: 32px;
        left: 32px;
    }
}

.match {
    background-color: $sectionBgColor;


    &__info {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content {
        width: 584px;
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
    }

    &__text {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.77rem;
        color: $textColor;
    }
}

.words {
    &__text {
        width: 588px;
    }

    &__content {
        order: 2;
    }

    &__img {
        order: 1;
    }
}

.riddle {
    background: linear-gradient(180deg, $sectionBgColor 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%,
            $sectionBgColor 100%), url("img/riddle_bg.jpg"), $sectionBgColor;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__info {
        flex-flow: column wrap;
        justify-content: center;
        gap: 32px;
    }

    &__text {
        text-align: center;
        max-width: 1200px;
    }
}

.footer {
    background-color: $sectionBgColor;

    &__text {
        font-size: 0.66rem;
        line-height: 0.83rem;
        color: $textColor;
        text-align: center;
        padding-top: 32.5px;
        padding-bottom: 32.5px;
    }
}

@import 'mobile';